@{
    ViewData["Title"] = "Home Page";
}

<main class="text-center" role="main">
    <h1 class="display-4">Welcome to Vrindi Team</h1>
    <p>
        Learn about
        <a href="https://learn.microsoft.com/aspnet/core" aria-label="Learn about building Web apps with ASP.NET Core">
            building Web apps with ASP.NET Core
        </a>.
        <h1>Vrindi INc.</h1>
    </p>
</main>
